[submodule "node_specs/jasmine-node"]
	path = node_specs/jasmine-node
	url = git://github.com/btakita/jasmine-node.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = http://github.com/documentcloud/underscore.git
[submodule "vendor/express"]
	path = vendor/express
	url = git://github.com/visionmedia/express.git
[submodule "vendor/trollopjs"]
	path = vendor/trollopjs
	url = http://github.com/bentomas/trollopjs.git
[submodule "vendor/js-xml-builder"]
	path = vendor/js-xml-builder
	url = git://github.com/btakita/js-xml-builder.git
[submodule "spec/frameworks/jasmine"]
	path = spec/frameworks/jasmine
	url = git://github.com/pivotal/jasmine.git
[submodule "spec/frameworks/screw-unit"]
	path = spec/frameworks/screw-unit
	url = git://github.com/pivotal/screw-unit.git
